root {
    --brightness: 100%;
}

.sliders {
    display: block;
    margin: 5px 0;
    text-align: left;
    color: aliceblue;
}

.right-div {
    position: fixed;
    height: auto;
    width: 280px;
    padding-top: 40px;
    padding-left: 20px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #333;
    border-left: 1px solid #222;
}

.canvas {
    position: fixed;
    left: 300px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: lightgray;
}

#brightness {
    -webkit-appearance: none;
    width: 150px;
    border-radius: 8px;
    height: 4px;
    background-color: #777;
    -webkit-rtl-ordering: logical;
    font: 400 13.3333px Arial;
    cursor: pointer;
}

#contrast {
    -webkit-appearance: none;
    width: 150px;
    border-radius: 8px;
    height: 4px;
    background-color: #777;
    margin-left: 16px;
    cursor: pointer;
}

#blur {
    -webkit-appearance: none;
    width: 150px;
    border-radius: 8px;
    height: 4px;
    background-color: #777;
    margin-left: 42px;
    cursor: pointer;
}

#myCanvas {
    position: fixed;
    left: 350px;
    top: 50px;
}